body {
   height: 100vh;
   width: 100vw;
   color: #212121;
   font-size: .75rem;
}

.g-line {
   background-color: #018a7d;
   height: 15%;
}

.b-line {
   background-color: #f0eddf;
   height: 85%;
}

#root {
   width: 80%;
   background-color: #fff;
   position: absolute;
   top: calc(50% - 45%);
   left: calc(50% - 40%);
}

#notifications {
   background-color: #8EDAFC;
}

i.fa-solid,
i.fa-regular {
   color: #B1B1B1;
   font-size: 1rem;
}

h6,
p {
   margin-bottom: 0;;
}

/* NAV MENU */

#root,
#nav-menu,
#main-chat {
   height: 700px;
}


/* NAV MENU - user box */

.user-box {
   height: 56px;
   background-color: #EAEAEA;
}

.pro-pic {
   height: 40px;
}


/* NAV MENU - notifications */

.fa-solid.fa-bell-slash.rounded-circle {
   background-color: #FFF;
   color: #8EDAFC;
   font-size: 1rem;
   padding: .75rem;
}

#notifications a,
.chat-data p {
   color: rgba(33,33,33,.5);
}



/* NAV MENU - search input */

#user-input {
   background-color: #FAFAFA;
}

#search-button,
input.form-control {
   border: 1px solid #F2F2F2;
   border-radius: 0;
}

input.form-control,
.chat-data p {
   font-size: .75rem
}


/* NAV-MENU - chat list */

.active {
   background-color: #E9EBEB;
}

.chat-element {
   border-bottom: 1px solid #F5F5F5;
}

.msg-data {
   font-size: .5rem;
   color: rgba(0,0,0,.3);
   text-align: right;
}




/**********************
      MAIN CHAT
**********************/

#msg-list {
   height: calc(100% - 112px);
   background-image: url('../img/mine.jpg');
   background-repeat: repeat;
}


/* MAIN CHAT - msg-list*/

.sent-msg,
.received-msg {
   border-radius: 10px;
}

.message {
   padding: .65rem;
}

.sent-msg {
   background-color: #baf9c1;
   
}

.received-msg {
   background-color: #FFF;
   
}



/* MAIN CHAT - chat-controls*/

#chat-controls {
   height: 56px;
   background-color: #F3EEEA;
}

.form-control.chat-input {
   border-radius: 5px;
}