body {
   height: 100vh;
   width: 100vw;
   color: #212121;
}

.g-line {
   background-color: #018a7d;
   height: 15%;
}

.b-line {
   background-color: #f0eddf;
   height: 85%;
}

#root {
   height: 90%;
   width: 80%;
   background-color: #fff;
   position: absolute;
   top: calc(50% - 45%);
   left: calc(50% - 40%);
}

#user-box {
   background-color: #EAEAEA;
}

#notifications {
   background-color: #8EDAFC;
   font-size: .75rem;
}

.fa-solid {
   color: #B1B1B1;
}



/* NAV MENU - user box */

.pro-pic {
   height: 40px;
}



/* NAV MENU - notifications */

.fa-solid.fa-bell-slash.rounded-circle {
   background-color: #FFF;
   color: #8EDAFC;
   font-size: 1rem;
   padding: .75rem;
 }

#notifications p,
.chat-data h6,
.chat-data p {
   margin-bottom: 0;
}

#notifications a,
.chat-data p {
   color: rgba(33,33,33,.5);
}



/* NAV MENU - search input */

#user-input {
   background-color: #FAFAFA;
}

#search-button,
input.form-control {
   border: 1px solid #F2F2F2;
   border-radius: 0;
}

input.form-control,
.chat-data p {
   font-size: .75rem
}


/* NAV MENU - chat list */
